################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExchangeRatesETL/APIKey.txt
/ExchangeRatesDatabase/Import Schema Logs
/ExchangeRatesDatabase/obj/Debug
/ExchangeRatesDatabase/ExchangeRatesDatabase.jfm
*.user
/ExchangeRatesETL/bin/Development
/ExchangeRatesETL/obj/Development
/ExchangeRatesDatabase/ExchangeRatesDatabase.dbmdl
